.blue-button{
	margin: .5 auto;
	padding: .5em 0em .25em 1em;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: .5em;
    background-image: linear-gradient(to top, $light-blue, $medium-blue, $dark-blue);
    background-image: -webkit-linear-gradient(bottom, $light-blue, $medium-blue, $dark-blue);
    background-image: -ms-linear-gradient(bottom, $light-blue, $medium-blue, $dark-blue);

	&:hover {
		background-image: linear-gradient(to top, $light-blue, $dark-blue);
		background-image: -webkit-linear-gradient(bottom, $light-blue, $dark-blue);
		background-image: -ms-linear-gradient(bottom, $light-blue, $dark-blue);
		transition: background-image 0.3s;
	}

	@include links(#FFF);
}

.green-button{
	margin: .5 auto;
	padding: .5em 0em .25em 1em;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: .5em;
    background-image: linear-gradient(to top, $light-green, $medium-green, $dark-green);
    background-image: -webkit-linear-gradient(to top, $light-green, $medium-green, $dark-green);
    background-image: -ms-linear-gradient(to top, $light-green, $medium-green, $dark-green);
    
	&:hover {
		background-image: linear-gradient(to top, $light-green, $dark-green);
		background-image: -webkit-linear-gradient(to top, $light-green, $dark-green);
		background-image: -ms-linear-gradient(to top, $light-green, $dark-green);
		transition: background-image 0.3s;
	}

	@include links(#FFF);
}

.brown-button{
	margin: .5 auto;
	padding: .5em 0em .25em 1em;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: .5em;
    background-image: linear-gradient(to top, $light-brown, $medium-brown, $dark-brown);
    background-image: -webkit-linear-gradient(to top, $light-brown, $medium-brown, $dark-brown);
    background-image: -ms-linear-gradient(to top, $light-brown, $medium-brown, $dark-brown);
    
	&:hover {
		background-image: linear-gradient(to top, $light-brown, $dark-brown);
		background-image: -webkit-linear-gradient(to top, $light-brown, $dark-brown);
		background-image: -ms-linear-gradient(to top, $light-brown, $dark-brown);
		transition: background-image 0.3s;
	}

	@include links(#FFF);
}