.header-main {
	@extend .row;
}

.header-name {
	width: 80%;
	float: left;
	h1 {
		font-family: "Arimo", Helvetica, Arial, "Lucida Grande", sans-serif; 
	    font-weight: 700;
	}
	a {
		text-decoration: none;
		color: darken(#67C8FF, 30%);
	}
}

.header-logo{
	width: 20%;
	text-align: right;
	float: right;
	margin: .5em 0;

	@media screen and (max-width: 480px), (max-width: 667px){
		margin-top: 1.5em;
	}

}

.message {
	@extend .large-offset-4;
	
	a {
		font-family: Open Sans, Helvetica, Arial, sans-serif;
		font-weight: 400;
		font-size: 125%;
		text-decoration: none;
		color: rgba(255, 150, 50, 0.9);
		&:hover {
			color: rgba(255, 25, 150, 0.9);
			transition: color 0.3s;
		}
	}
}

.top-menu {
	background-color: lighten($dark-green, 30%);
	@include box-shadow(rgba(0,100,0, .1));
	&:hover {
		@include box-shadow(rgba(0,85,0, .2));
		transition: box-shadow 0.3s;
	}
	li {
		float: left;
		padding: 1em;
		margin-bottom: 1em;
		list-style: none;
		display: inline;

		&:first-child {
	      padding-left: 0;
	    }
	    &:last-child {
	      padding-right: 0;
	    }

		@media screen and (max-width: 515px){
			padding: .5em;
			&:first-child {
		      padding-left: 0;
		    }
		    &:last-child {
		      padding-right: 0;
		    }
		}
		@media screen and (max-width: 418px){
			padding: .25em;
			&:first-child {
		      padding-left: 0;
		    }
		    &:last-child {
		      padding-right: 0;
		    }
		}
	    
	    @include links(darken(#67C8FF, 60%));
    }  
  
}
