.top-menu {
	background-color: $light-green;
	@include box-shadow(#9da5e6);
	&:hover {
		@include box-shadow(rgba(0,100,0, .3));
	}
	li {
		float: left;
		padding: 2em;
		list-style: none;
		display: inline;

		&:first-child {
	      padding-left: 0;
	    }
	    &:last-child {
	      padding-right: 0;
	    }

		@media screen and (max-width: 515px){
			padding: .75em;
			&:first-child {
		      padding-left: 0;
		    }
		    &:last-child {
		      padding-right: 0;
		    }
		}
		@media screen and (max-width: 418px){
			padding: .5em;
			&:first-child {
		      padding-left: 0;
		    }
		    &:last-child {
		      padding-right: 0;
		    }
		}
	    
	    @include links(#111);
    }  
  
}