.background {
	background: #fff no-repeat center center fixed;
	background-image: -webkit-linear-gradient(bottom, rgba(64,224,208,0.2), rgba(64,224,208,0.4));
	background-image: -ms-linear-gradient(bottom, rgba(64,224,208,0.2), rgba(64,224,208,0.4));
	background-image: -o-linear-gradient(bottom, rgba(64,224,208,0.2), rgba(64,224,208,0.4));
	background-image: linear-gradient(to top, rgba(64,224,208,0.2), rgba(64,224,208,0.4));
}

.home {
	a {
		text-decoration: none;
		color: #111;
	}
}

p{
	font-family: Helvetica, Sans Serif;
	color: #111;
}

article {
	padding-bottom: 3em;
	line-height: 1.75;
}

footer {
	background: #333;
	background-image: -webkit-linear-gradient(rgba(0,185,0,0.1), rgba(0,145,0,0.5));
	background-image: -o-linear-gradient(rgba(0,185,0,0.1), rgba(0,145,0,0.5));
	background-image: linear-gradient(rgba(0,185,0,0.1), rgba(0,145,0,0.5));
	color: #999;
	border-top-left-radius: 1.25em;
	border-top-right-radius: 1.25em;
	border: 2px solid rgba(0,0,0,0.3);

	h3 {
		color: #FFF;
	}

	li {
		list-style: none;
	}

		@include links(#EEE);
}
