.background {
	background: #fff no-repeat center center fixed;
	background-image: -webkit-linear-gradient(bottom, rgba(64,224,208,0.2), rgba(64,224,208,0.4));
	background-image: -ms-linear-gradient(bottom, rgba(64,224,208,0.2), rgba(64,224,208,0.4));
	background-image: -o-linear-gradient(bottom, rgba(64,224,208,0.2), rgba(64,224,208,0.4));
	background-image: linear-gradient(to top, rgba(64,224,208,0.2), rgba(64,224,208,0.4));
}

.home {
	a {
		text-decoration: none;
		color: #111;
	}
}

p{
	@include helvetica(300);
	color: #111;
}

article {
	padding-bottom: 3em;
	line-height: 1.75;
}
