@mixin links($color){
	a {
      color: $color;
      font-family: PT Sans, san-serif;
      font-size: 125%;
      text-decoration: none;
    }

    a:hover {
    	color: darken($color, 20%);
    }
}

@mixin basic-button($color){
	margin: .5 auto;
	padding: .5em 0em .25em 1em;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: .5em;
    background-image: linear-gradient(bottom, get-color($color));
    background-image: -webkit-linear-gradient(bottom, get-color($color));
    h5 {
		color: #fff;
		font-family: 'Roboto', sans-serif;
	}

	@include links(#FFF)
}

@mixin box-shadow($color){
  box-shadow: 5px 5px $color;
}

@mixin helvetica($weight) {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: $weight;
}

@mixin Sans($weight){
  font-family: Open Sans, Sans Serif, Arial;
  font-weight: $weight;
}

@mixin svg_colorize($red, $green, $blue, $alpha) {
  fill: rgba($red, $green, $blue, $alpha);
}