@mixin links($color){
	a {
      color: $color;
      font-family: PT Sans, san-serif;
      font-size: 125%;
      text-decoration: none;
    }

    a:hover {
    	color: darken($color, 20%);
    }
}

@mixin basic-button($color){
	margin: .5 auto;
	padding: .5em 0em .25em 1em;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: .5em;
    background-image: linear-gradient(bottom, get-color($color));
    background-image: -webkit-linear-gradient(bottom, get-color($color));
    h5 {
		color: #fff;
		font-family: 'Roboto', sans-serif;
	}

	@include links(#FFF)
}