aside {
	margin-left: -.89em;
	margin-bottom: 1.5em;
	.side-menu {
		@include box-shadow(rgba(0,0,255,.1));
		&:hover {
			@include box-shadow(rgba(0,0,255,.2));
			transition: box-shadow 0.3s;
		}
		ul {
			margin: 0;
			padding: .5em;
			list-style-type: none;
			background-color: lighten($light-blue, 10%);
		}

		li { 
			padding: .5em 0;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	   		font-weight: 300;
	   		font-size: 95%;
		    &:first-child {
		      padding-top: .25em;
		    }
		    &:last-child {
		      padding-bottom: .25em;
		    }
		    
		    @include links(#111);
		    
		}
	}

	@media screen and (max-width: 1025px){
		margin-left: 0;
		margin-bottom: 1em;
	}
}