aside {
	margin-left: -.89em;
	margin-bottom: 1.5em;
	.side-menu {
	
		ul {
			margin: 0;
			padding: .5em;
			list-style-type: none;
		}

		li { 
			padding: .5em 0;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	   		font-weight: 300;
	   		font-size: 95%;
	   		background-color: darken(#67C8FF, 20%);
	   		border-radius: .5em;
	   		margin-bottom: 1em;
		    &:first-child {
		      padding-top: .25em;
		    }
		    &:last-child {
		      padding-bottom: .25em;
		    }

		    &:hover {
		    	background-color: #67C8FF;
		    }
		    
		    @include links(#ffffff);

		    a {
		    	margin: 0 .5em;
		    }
		    
		}
	}

	@media screen and (max-width: 1025px){
		margin-left: 0;
		margin-bottom: 1em;
	}
}