.submenu {

	li {

		display: inline;
		list-style-type: none;
		padding: 0 .25em;
		
		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		a {
			text-decoration: none;

			&:active {
				text-dectoration: underline;
			}
		}

	}
	
}